<template id = "templ">
  <div id = "rock">
    <img src = "http://mysuitapp.com/photos/mostafa.jpg"/>
    <div id = "user-info">
      <b>Name</b>: <span>Mostafa</span>
      <b>Location</b>:<span>Warsaw</span>
    </div>
    <div id = "skills">
      <ol>
        <li> HTML </li>
        <li> CSS </li>
        <li> JavaScript </li>
        <li> HTTP </li>
        <li> NodeJs </li>
      </ol>
    </div>
  </div>
  <style>
    #rock {
      display: flex;
      width: 400px;
      height: 300px;
      background-color: #212121;
      flex-direction: row;
    }
    #templ {
      width: 400px;
      height: 300px;
      background-color: #212121;
    }
    #skills {
      width: inherit;
      height: 100%;
    }
  </style>
  <script>
    const user = document.getElementById("templ");
    user.onclick = function() {
      alert("Template");
    }
  </script>
</template>
      
      
    
        
